{% extends "AcmeBillerBundle::layout.html.twig" %}

{% block title 'Create a bill' %}

{% block content %}
    <form action="{{ path('demo_bill_create') }}" method="POST">
        <legend>Add a new Bill</legend>
        <div class="prototype-row"  data-prototype="{{ form_widget(form.items.vars.prototype)|e }}">
        {{ form_row(form.items) }}
    </div>
    {{ form_rest(form) }}
    </form>
{% endblock %}
