{% extends "AcmeBillerBundle::layout.html.twig" %}

{% block title "Symfony - Contact form" %}

{% block content %}
    <form action="{{ path('demo_bill_create') }}" method="POST">
        {{ form_errors(form) }}

        {{ form_row(form.items) }}

        <input type="submit" value="Send" />
    </form>
{% endblock %}
