{% extends "AcmeBillerBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('demo_bill_create') }}">Create a bill</a></li>
    </ul>
{% endblock %}
